<%= simple_form_for(@kind) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <div class="colorDiv">
    </div>
    <%= f.input :color, collection: Kind::COLORS, include_blank: false, wrapper_html: { class: 'special' }, as: :radio_buttons %>

    <%= f.input :personal %>
  </div>

  <div class="form-actions ">
    <%= f.button :submit %>
  </div>
<% end %>
