<div class="container">
  <div class="row text-center">
    <div class="col-lg-12">
      <%= form_tag answer_path do %>
      <%= hidden_field_tag :id, @card.id %>
      <div class="card hovercard ">
        <div class="cardheader <%= @card.color %>">
          <div class="info">
            <div class="title">
              <%= label_tag :question, "Question: #{@card.question}?" %>

            </div>
          </div>
        </div>
        <div class="avatar">
          <img alt="" src= <%= @card.image.present? ? @card.image : '../../assets/flashcard.jpg'%> >
        </div>
        <div class="info">
          <div class="title">
            <%= text_area_tag :answer, nil, autofocus: true %>
          </div>
          <div class="desc">
            <% if @card.case_sensitive? %>
            <h5>The answer considers uppercase letter </h5>
            <% end %>
          </div>
        </div>
        <div class="bottom">
        <%= submit_tag 'Answer' %>
        <%= link_to 'Games', games_path %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
