<%= simple_form_for(@card) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :question %>
    <%= f.input :answer %>
    <%= f.input :image , hint: 'type the path of the picture on the internet'%>
    <%= f.input :share %>
    <%= f.input :case_sensitive , hint: 'the answer considers uppercase letter?'%>
    <%= f.association :kind, collection: Kind.where(user_id: @card.user_id) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
